.tile{
  margin-left: 100px;
  margin-top: 100px;
}
.tabelka, th, td{
  font-size: 14px;
  border: 1px solid grey;
  border-collapse: collapse;
  color: grey;
  text-align: left;
  padding-left: 10px;
}

.heads{
  background-color: #ccced1;
}
